  <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Challange 4</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
          </head>
    <style>
        .page-1{
            background-image: url(./Group-1.1.png);
            height: 1024px;
            width: 100vw;
            max-width: 1440px;
            background-size: cover;
            margin-inline: auto;
        }

        .page-1-tittle{
            Width:1440px; 
            Height:110px; 
            gap: 27px;
        }

        .page-1-name{
            Width:1440px; 
            Height:110px; 
            gap: 441px;
        }
    </style>
    <body>
        <div class="page-1">
            <div class="page-1-tittle d-flex justify-content-start align-items-center">
                <h1 onclick="document.location='/'" style="cursor: pointer; margin-left: 37px;"> <img src="./_.png" alt=""></h1>
                <img src="./logo-1.png" alt="">
                <h1 style="font-size:36px; color: rgba(249, 178, 61, 1);">ROCK PAPER SCISSORS </h1>
            </div>
            <div style="color:rgba(0, 0, 0, 1);" class="page-1-name d-flex justify-content-center align-items-center">
                <h1>PLAYER </h1>
                <h1>COM</h1>
            </div>
            <div class="page-1-name d-flex align-items-center justify-content-center ">
                <img id="batu-p1" style="cursor: pointer;" src="./batu-1.png" alt="">
                <img id="batu-p2" style="cursor: pointer;" src="./batu-1.png" alt="">
            </div>
            <div style="height: 110px; gap: 140px; margin-top: 81px;" class="d-flex align-items-center justify-content-center">
                <img id="kertas-p1" style="cursor: pointer;" src="./kertas-1.png" alt="">
                <h1 id="result" style="font-size: 144px; color:rgba(189, 0, 0, 1);;">VS</h1>
                <img id="kertas-p2" style="cursor: pointer;" src="./kertas-1.png" alt="">
            </div>
            <div style="margin-top: 101px;" class="batu page-1-name d-flex align-items-center justify-content-center ">
                <img id="gunting-p1" style="cursor: pointer;" src="./gunting-1.png" alt="">
                <img id="gunting-p2" style="cursor: pointer;" src="./gunting-1.png" alt="">
            </div>
            <div class="page-1-name d-flex align-items-center justify-content-center ">
                <img id="refresh" style="cursor: pointer;" src="./refresh-2.png" alt="">
            </div>
        </div>
        <script src="script.js">
        </script>
    </body>
    </html>
